
html, html[data-theme='light'] {
    --primary-background-color: #ffffff;
    --secondary-background-color: #f2f2f2;
    --accent-background-color: #fff0d1;

    --primary-text-color: #0c0c0c;
    --secondary-text-color: #8f253c;
    --accent-text-color: #7e00a4;
    --faded-text-color: #a8a8a8;
    --bg-success-color: #bfffbf;
    --invert-icon-color: 0;
}

html[data-theme='dark'] {
    --primary-background-color: #000000;
    --secondary-background-color: #2b2b2b;
    --accent-background-color: #4d5060;;
    --faded-text-color: #595959;
    --primary-text-color: #ffffff;
    --secondary-text-color: #bbb5e6;
    --accent-text-color: #e074ff;
    --bg-success-color: #072e07;
    --invert-icon-color: 1;
}

/* Apply the variables */
body {
    background-color: var(--primary-background-color);
    color: var( --primary-text-color);
}

