@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&display=swap');
@import "css/scroll-bar.css";

:root {
    font-family: "Noto Sans Hebrew", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-weight: 400;

    color-scheme: light dark;
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:host {
    margin: 0 auto;
    text-align: center;
}


@media (prefers-color-scheme: light) {
    color: black;
    background-color: white;
}

/*@media (prefers-color-scheme: dark) {*/
/*    color: white;*/
/*}*/


body {

    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 90vh;
}

.emoji-container {

    z-index: 1000;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 98svh;
    width: 99svw;
    overflow: hidden;
    justify-content: start;
    align-items: center;

    .emoji-and-text {
        background: rgb(0, 0, 0, 0.08);
        border-radius: 40px;
        /*filter: drop-shadow(0 0 0.5rem var(--primary-background-color)) drop-shadow(0 0 1rem var(--primary-background-color)) drop-shadow(0 0 2rem var(--primary-background-color)) drop-shadow(0 0 4rem var(--primary-background-color))  drop-shadow(0 0 10rem var(--primary-text-color ));*/
        filter: drop-shadow(0 0 1rem var(--primary-background-color));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        padding-bottom: 1rem;
        animation: jump-in 1s  ;
        animation-iteration-count: 1

    }

    .emoji-surprise {
        display: flex;
        font-size: 12rem;

    }

    .text {

        /*filter: drop-shadow(0 0 0.5rem var(--primary-background-color))   drop-shadow(0 0 1rem var(--secondary-background-color))   drop-shadow(0 0 10rem var(--primary-text-color ));*/

        direction: rtl;

        background: -webkit-linear-gradient(var(--accent-text-color), var(--secondary-text-color), var(--primary-text-color),
        var(--secondary-text-color),
        var(--accent-text-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 4rem;
        font-weight: 700;
    }
}

@keyframes jump-in {

    0% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }


}
