
html, html[data-theme='light'] {
    --primary-background-color: #ffffff;
    --secondary-background-color: #f2f2f2;
    --accent-background-color: #ffe3a2;;

    --primary-text-color: #0c0c0c;
    --secondary-text-color: #584792;
    --accent-text-color: #7e00a4;
}

html[data-theme='dark'] {
    --primary-background-color: #000000;
    --secondary-background-color: #2b2b2b;
    --accent-background-color: #a99d7b;;

    --primary-text-color: #ffffff;
    --secondary-text-color: #bbb5e6;
    --accent-text-color: #e074ff;
}

/* Apply the variables */
body {
    background-color: var(--primary-background-color);
    color: var( --primary-text-color);
}

